<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="smtp" value="smtp.usp.br" />
    <add key="fromfusp" value="fusp@fusp.org.br" />
    <add key="fromcircular" value="circular@fusp.org.br" />
    <add key="fromboleto" value="boleto@fusp.org.br" />
    <add key="usuarioSmtp" value="fusp@usp.br" />
    <add key="senhaSmtp" value="Kanguru$08" />
    <add key="porta" value="25" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" defaultUrl="Login.aspx" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add src="~/Controles/NestedControles/Texto.ascx" tagName="cTexto" tagPrefix="ctx" />
        <add src="~/Controles/Inteiro.ascx" tagName="cInteiro" tagPrefix="cint" />
        <add src="~/Controles/ListaEmails.ascx" tagName="cListaEmails" tagPrefix="cListaemails" />
        <add src="~/Controles/NestedControles/Email.ascx" tagName="cListaEmails" tagPrefix="cListaemails" />
        <add src="~/Controles/ControleCNPJ.ascx" tagName="cCNPJ" tagPrefix="cCnpj" />
        <add src="~/Controles/ControleCPF.ascx" tagName="cCPF" tagPrefix="cCpf" />
        <add src="~/Controles/Endereco.ascx" tagName="cEnder" tagPrefix="cender" />
        <add src="~/Controles/NestedControles/Telefone.ascx" tagName="cTel" tagPrefix="cTel" />
        <add src="~/Controles/ListaTelefones.ascx" tagName="cListaTelefones" tagPrefix="cListatelefones" />
        <add src="~/Controles/Data.ascx" tagName="cData" tagPrefix="cdt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    
  </system.web>
  <connectionStrings>
    <add name="Contexto1" connectionString="Data Source=200.144.255.194;Initial Catalog=webfusp;Persist Security Info=True;Timeout=60;User ID=sa;Password=Pankada$01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Contexto" connectionString="Data Source=srvsql2014;Initial Catalog=webfusp; Persist Security Info=True;Timeout=60;User ID=sa;Password=Pankada$01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>